.section__N4k2P {
  width: 100%;
}

.section__content__N4k2P {
  max-width: calc(var(--system-max-width) + (var(--system-padding) * 2));
  padding-inline: var(--system-padding);
  margin: 0 auto;
  padding-top: 214px;
}

.preFooter__root__Q7w3E {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;  
}

.preFooter__right__H2j5L {
  display: flex;
  align-items: center;
  gap: 12px; /* buttons next to each other */
  flex-shrink: 0;
}
