/* Button Base */
.button__root__ZxcvB {
  user-select: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: fit-content;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-shadow: none;
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  height: var(--button-height);
  gap: var(--button-gap);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  transition: .16s var(--ease-out-quad);
  transition-property: border, background, background-color, color, box-shadow, opacity, filter, transform;
}

.button__root__ZxcvB > svg {
  will-change: transform;
  fill: currentColor;
  width: var(--button-icon-size, var(--icon-size-default));
  height: var(--button-icon-size, var(--icon-size-default));
  transition: .16s var(--ease-in-quad);
  transition-property: color, opacity, transform;
}

/* Button Sizes */
.button__size-small__L9d7h {
  --button-height: 32px;
  --button-icon-size: var(--icon-size-default);
  --button-font-size: var(--font-size-small);
  --font-weight: var(--font-weight-normal);
  --button-radius: 8px;
  --button-padding: 0 12px;
  --button-gap: 8px;
}

.button__size-medium__L9d7h {
  --button-height: 40px;
  --button-icon-size: var(--icon-size-default);
  --button-font-size: var(--font-size-regular);
  --button-radius: 10px;
  --button-padding: 0 16px;
  --button-gap: 6px;
}

.button__size-large__L9d7h {
  --button-height: 48px;
  --button-icon-size: var(--icon-size-default);
  --button-font-size: var(--font-size-regularPlus);
  --button-radius: 12px;
  --button-padding: 0 20px;
  --button-gap: 6px;
}

/* Button Types */
.button__kind-primary__R5j2s {
  color: rgba(var(--color-bg-primary), 1);
  background: rgba(var(--color-primary-inverted), 1);
  border: none;
  box-shadow: var(--shadow-stack-low);
  font-weight: var(--font-weight-medium);
}

.button__kind-primary__R5j2s:hover {
  background: rgba(var(--color-secondary-inverted), 1);
}

.button__kind-secondary__R5j2s {
  background: rgba(var(--color-bg-quaternary), 1);
  border: 0.5px solid rgba(var(--color-border-tertiary), 1);
  color: rgba(var(--color-text-primary), 1);
  box-shadow: var(--shadow-stack-low);
}

.button__kind-secondary__R5j2s:hover {
  background: rgba(var(--color-bg-quinary), 1);
}

.button__kind-tertiary__R5j2s {
  padding: 0;
  font-weight: var(--font-weight-normal);
  background: none;
  border: none;
  color: rgba(var(--color-text-tertiary), 1);
}

.button__kind-tertiary__R5j2s:hover {
  color: rgba(var(--color-text-secondary), 1);
}

.button__kind-ghost__R5j2s {
  color: rgba(var(--color-text-tertiary), 1);
  background: transparent;
}

.button__kind-ghost__R5j2s:hover {
  background: var(--color-button-translucent);
  color: rgba(var(--color-text-secondary), 1);
}

.button__group__Q6z2k {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
