:root {
  /* Light Theme Colors */
  --color-bg-selection: 114, 114, 255;
  --color-text-selection: 255, 255, 255;
}

.light {
  --color-button-translucent: #00000008;
  --color-bg-header: 255, 255, 255;
  --color-bg-header-active: 246, 246, 246;
  --color-border-header: 13, 13, 13, 0.08;
  --color-bg-primary: 255, 255, 255;
  --color-bg-secondary: 249, 248, 249;
  --color-bg-tertiary: 244, 243, 244;
  --color-bg-quaternary: 238, 237, 239;
  --color-bg-quinary: 233, 232, 234;
  --color-primary-inverted: 25, 25, 27;
  --color-secondary-inverted: 12, 12, 12;
  --color-border-primary: 233, 232, 234;
  --color-border-secondary: 228, 227, 228;
  --color-border-tertiary: 220, 219, 221;
  --color-toggle: 189, 192, 197;
  --color-text-primary: 40, 42, 48;
  --color-text-secondary: 84, 90, 99;
  --color-text-tertiary: 134, 132, 141;
  --color-text-quaternary: 89, 90, 92;
  --color-overlay-primary: 255, 255, 255, 0.6;
  --color-link-primary: 0, 122, 255;
  --color-link-hover: 66, 81, 222;
  --color-bg-brand: 100, 103, 197;
  --color-brand-text: 255, 255, 255;
}

.dark {
  --color-button-translucent: #ffffff10;
  --color-bg-header: 9, 9, 9;
  --color-bg-header-active: 13, 13, 13;
  --color-border-header: 242, 242, 242, 0.08;
  --color-bg-primary: 8, 9, 10;
  --color-bg-secondary: 16, 17, 19;
  --color-bg-tertiary: 28, 28, 31;
  --color-bg-quaternary: 35, 35, 38;
  --color-bg-quinary: 40, 40, 44;
  --color-primary-inverted: 228, 230, 230;
  --color-secondary-inverted: 243, 243, 243;
  --color-border-primary: 35, 37, 42;
  --color-border-secondary: 52, 52, 58;
  --color-border-tertiary: 62, 62, 68;
  --color-toggle: 92, 102, 109;
  --color-text-primary: 247, 248, 248;
  --color-text-secondary: 208, 214, 216;
  --color-text-tertiary: 138, 143, 152;
  --color-text-quaternary: 89, 90, 92;
  --color-overlay-primary: 0, 0, 0, 0.6;
  --color-link-primary: 0, 122, 255;
  --color-link-hover: 66, 81, 222;
  --color-bg-brand: 100, 103, 197;
  --color-brand-text: 255, 255, 255;
}