.section__8NC91 {
  width: 100%;
}

.section__content__0KLF3 {
  max-width: calc(var(--system-max-width) + (var(--system-padding) * 2));
  padding-inline: var(--system-padding);
  margin-inline: auto;
  position: relative; 
}

.HomeSectionTools__container__Z9k4p {
  position: relative;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-inline: var(--system-padding);
  margin-inline: auto;
  max-width: calc(var(--system-max-width) + (var(--system-padding) * 2));
  scrollbar-width: none;
}

.HomeSectionTools__container__Z9k4p::-webkit-scrollbar {
  display: none;
}

.HomeSectionTools__item__L7j3s {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 0.5rem;
}

.HomeSectionTools__icon__P5k8q {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-regular);
}

.HomeSectionTools__icon__P5k8q svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  stroke-width: 1;
  color: rgba(var(--color-text-tertiary), 1);
  width: 2.5rem;
  height: 2.5rem;
}

.HomeSectionTools__label__B9k6p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: rgba(var(--color-text-tertiary), 1);
  flex-shrink: 0;
}
